<div class="searchBar">
    <div class="container">
        <form action="/search" class="search-form" role="search" method="POST">
            <input 
                type="search"
                aria-label="Search"
                id="search-input"
                name="searchTerm"
                placeholder="Search the site..."
            />
        </form>
        <div id="SearchClose"> 
            Close
        </div>
    </div>
</div>