<div class="author">
    <h1 class="author_heading">Hi, I'm Aashi.</h1>
    <p class="author_body">Writer of Unhidden.</p>
</div>

<img src="/img/Placeholder.jpeg" alt="Portrait of Aashi" class="author_image" width="300" height="500"/>

<section class="articles">
    <h2 class="article-heading">Latest Posts</h2>

    <ul class="article-ul">
        <li>
            <a href="/article-slug">
                <time class="article-list_date" datetime="2024-06-12">Dec 25, 2025</time>
                <span class="article-title">Testing</span>
            </a>
        </li>
        <!-- Add more posts here -->
    </ul>

    <a href="/older-posts" class="pagination">&lt; Older Posts</a>
</section>