<!-- <div class="author">
    <h1 class="author_heading">Hi, I'm Aashi.</h1>
    <p class="author_body">Writer of Unhidden.</p> -->
<!-- </div> -->
 
<div class="author_image_container">
    <img src="/img/unhidden-logo.png" alt="Unhidden" class="author_image" width="50%">
</div>

<section class="articles">
    <h2 class="article-heading">Latest Posts</h2>

    <ul class="article-ul">

        <% data.forEach(post => { %>
         
        <li>
            <a href="/post/<%= post._id %>" class="article-list_item">
                <time class="article-list_date" datetime="2024-06-12"><%= post.createdAt.toDateString() %></time>
                <span class="article-title"><%= post.title %></span>
            </a>
        </li>
        <!-- Add more posts here -->

        <% }) %>
    </ul>

    <!-- <a href="/older-posts" class="pagination">&lt; Older Posts</a> -->
     <!-- if old posts button needed to go back for more,  https://www.youtube.com/watch?v=Cz-2QzkuCHo&list=PL4cUxeGkcC9hAJ-ARcYq_z6lDZV7kT1xD&index=6 -->
</section>